<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>team page</title>
    <link rel="stylesheet" type="text/css" href="public/css/show.css" >
    <link rel="stylesheet" type="text/css" href="/Users/adamroberts/Desktop/project2/public/css/show.css" >
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  </head>
  <header>
    <h1>Team Stats</h1>
  </header>
  <body>
    <div>
      <h1>
        Choose your team you want stats for and lets get started.
      </h1>
    </div>
    <div id= "team" class="text-center">
      <select>

        <option class ="arizona">arizona</option>
        <option class ="rockies">rockies </option>
        <option class ="dodgers">dodgers</option>
        <option class ="padres">padres</option>
        <option class ="giants">giants</option>
        <option class ="reds">reds</option>
        <option class ="cubs">cubs </option>
        <option class ="brewers">brewers</option>
        <option class ="pirates">pirates</option>
        <option class ="cardinals">cardinals</option>
        <option class ="nationals">nationals</option>
        <option class ="mets">mets</option>
        <option class ="marlins">marlins</option>
        <option class ="phillies">phillies</option>
        <option class ="braves">braves</option>
        <option class ="orioles">orioles</option>
        <option class ="red_sox">red sox</option>
        <option class ="rays">rays</option>
        <option class ="bluejays">bluejays</option>
        <option class ="yankees">yankees</option>
        <option class ="twins">twins</option>
        <option class ="indians">indians</option>
        <option class ="tigers">tigers</option>
        <option class ="whitesox">whitesox</option>
        <option class ="royals">royals</option>
        <option class ="angels">angels</option>
        <option class ="astros">astros</option>
        <option class ="athletics">athletics</option>
        <option class ="rangers">rangers</option>
        <option class ="mariners">mariners</option>
      </select>
    </div>

    <h2 class="prompt">What stats are you interested in?</h2>
    <br />
    <form class="pure-form">
      <input id="nameteam" type="text" class="pure-input-rounded">
      <button id="submit_button" type="submit" class="pure-button">Search</button>
    </form>

    <p id="teamData"></p>

    <p class="date"></p>
  </body>
</html>
<script src="/Users/adamroberts/Desktop/project2/public/js/jquery.js"></script>
<script type="text/javascript" src="/Users/adamroberts/Desktop/project2/public/js/script.js"></script>
